@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#menu-icon{
    position: relative;
    font-size: 3.6rem;
    color: white;
    cursor: pointer;
    display: none;  /* hidden on desktop */
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.3s;
}

.header.sticky {
    background: #031540;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.header.sticky .logo {
    color: #ffffff;   /* White when scrolling */
}

img{
    max-width: 100%;
    height: auto;
}



.logo{
    position: relative;
    font-size: 25px;
    color: #031540;
    text-decoration: none;
    font-weight: 700;
}

.navbar{
    padding: relative;
}

.navbar a{
    font-size: 18px;
    color: #ffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;   
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.home {
    height: 100vh;
    background: linear-gradient(-90deg, #031540 65%, #ffff 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;

}

.home-image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    background: #031540;
    border-radius: 50%;
    border: 25px solid #ffff;
    outline: 25px solid #031540;
    overflow: hidden; /* IMPORTANT */
}

.home-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.home-content{
    max-width: 600px;
    color: #ffff;
    text-align: right;
}

.home-content h1{
    position: relative;
    display: inline-block;
    font-size: 55px;
    line-height: 1.5;
}

.home-content h3{
    position: relative;
    font-size: 32px;
    font-weight: 600;
    color: #ffff;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}
.home-content h3 span{
    position: relative;
    color: #00abf0;
}

.home-content h3 span::before{
    content: "Web Developer";
    animation: words  12s infinite;
    background-repeat: no-repeat;
}

.home-content h3 span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #031540;
    border-left: 3px solid #00abf0;
    right: -8px;
    animation: cursor.4s infinite, typing 20s steps(14) infinite; 
}

@keyframes cursor{
    to{border-left: 2px solid transparent; }
}

@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% { width: 0; }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% { width: calc(100% + 8px); }
}

@keyframes words {
    0%, 33% { content: "Web Developer"; }
    34%, 66% { content: "Software Developer"; }
    67%, 100% { content: "WordPress Developer"; }
}

@keyframes animateText {
    0%,
    95%,
    100% {
        background-position: -410px 0;
    }
    65%,
    85%{
        background-position: 0 0;
    }
}
.home-content p{
    position: relative;
    font-size: 16px;
    margin-top: 20px;
}

.home-sci{
    margin: 25px 0 40px;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #ffff;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    margin-left: 12px;
    transition: .5s;
    position: relative;
}

.home-sci a:hover{
    background: #00abf0;
    color: #ffff;
    border-color: #00abf0;
    box-shadow: 0 0 10px #00abf0;
}

.btn{
    padding: 12px 35px;
    background: #00abf0;
    border-radius: 40px;
    transition: .5s;
    font-size: 17px;
    color: #ffff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    white-space: nowrap;
}

.btn:hover{
    border-color: #00abf0;
    box-shadow: 0 0 10px #00abf0;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    gap: 1px;
    min-height: 100vh;
    background: linear-gradient(180deg, #ffff 55%, #031540 40%); 
    padding-bottom: 6rem;
}

.about-container {
    display: flex;
    align-items: center;
    /* This pulls the content and image toward the left (blue) side */
    justify-content: flex-start; 
    /* This makes the gap between text and image very short */
    gap: 2rem; 
    width: 100%;
    padding-left: 5%;
}          /* Adjusts how close the text is to the edge */


.heading{
    position: relative;
    display: inline-block;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    text-align: center; 
    color:#fff;
}

span{
    color: #00abf0;
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:  #026bb2;
    padding: 8rem 10% 4rem;
}

.about-img{
    position: relative;
    width: 250px;
    height: 250px;
    margin: -10px 0 2rem;  /* pulls image upward slightly */
}

.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #00abf0;
}

.about-content{
    max-width: 600px;
    text-align: center;
}


.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;        /* smaller than 100% */
    height: 110%;       /* smaller than 100% */
    border-radius: 50%;
    border-top: .2rem solid #00abf0;
    border-bottom: .2rem solid #00abf0;
    border-right: .2rem solid transparent;
    border-left: .2rem solid transparent;
    animation: aboutSpinner 3s linear infinite;
}



.about-content h3{
    position: relative;
    display: inline-block;
   font-size: 2.6rem;
   margin-top: 2rem; /* This creates space above the text */
    color: white;
}

.about-content p {
    position: relative;
    font-size: 1.6rem;
    /* This removes the right-side margin that was causing the long space */
    margin: 2rem 0 3rem ; 
    color: #ffffff;
    justify-content: center;
}

.btn-box.btns{
    position: relative;
    display: inline-block;
    justify-content: center;
    margin-top: 2rem;
}



.btn-box.btns a::before{
    background-color: #00abf0;
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 2rem;
    background: #031540;
    color: #fff;
}

.education .education-row {
    display: flex;
    flex-wrap: nowrap;
    gap: 5rem;
    width: 100%;
}

.education-row {
    max-width: 1200px;
}


.education-row .education-column {
    flex: 1 1 50%;
}

 .education-column .title{
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
 }

 .education-column .education-box{
    position: relative;
    border-left: .2rem solid #00abf0;
 }

 .education-column .education-content{
    position: relative;
    padding-left: 2rem;
 }

 .education-box .education-content::before{
    content: '';
    position: absolute;
    top: -1.7rem;
    left: -.7rem;
    width: 1.2rem;
    height: 1.2rem;
    background: #00abf0;
    border-radius: 50%;
 }

 .education-column .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #00abf0;
    border-radius: 2rem;
    margin-bottom: 2rem; 
    overflow: hidden;
}

.education-column .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    color: #ffffff;
    z-index: -1;
    transition: .5s;
} 


.education-column .content:hover::before{
     width: 100%;
}

.education-column .content .year{
    font-size: 1.1rem;
    color: #031540;
    padding-bottom: .5rem;
}
.education-column .content .year i{
    padding-right: .5rem;
}

.skills{
    min-height: auto;
    padding-bottom: 7rem;
    background: #026bb2;
    color: #fff;
}

.skills h2{
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.skills .skills-colum{
    flex: 1 1 40rem;
}

.skills-colum .title{
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.skills-box .skills-content{
    position: relative;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    padding: .3rem 1rem;
    margin: 0 2rem 0 2rem;
}

.skills-colum .skills-box{
    position: relative;
}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3{
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 2rem;
}

.skills-content .progress h3 span{
    color: #00abf0;
    margin: 0 0 0 2rem;
}

.skills-content .progress .bar{
    height: 20px;
    border-radius: 5px;
    border: 1px solid #00abf0;
    margin: .5rem 2rem 0 2rem;
    overflow: hidden;   /* ⭐ IMPORTANT */
}


.skills-content .progress .bar span{
    display: block;
    height: 100%;
    width: 0;
    background: #00abf0;
    border-radius: 5px;
    animation: fillBar 2s ease forwards;
}

@keyframes fillBar {
    from { width: 0; }
}


/* Coding Skills */
.skills-colum:nth-child(1) .progress:nth-child(1) .bar span { width: 90%; }
.skills-colum:nth-child(1) .progress:nth-child(2) .bar span { width: 90%; }
.skills-colum:nth-child(1) .progress:nth-child(3) .bar span { width: 80%; }
.skills-colum:nth-child(1) .progress:nth-child(4) .bar span { width: 75%; }
.skills-colum:nth-child(1) .progress:nth-child(5) .bar span { width: 70%; }
.skills-colum:nth-child(1) .progress:nth-child(6) .bar span { width: 70%; }

.skills-colum:nth-child(2) .progress:nth-child(1) .bar span { width: 90%; }
.skills-colum:nth-child(2) .progress:nth-child(2) .bar span { width: 70%; }
.skills-colum:nth-child(2) .progress:nth-child(3) .bar span { width: 45%; }
.skills-colum:nth-child(2) .progress:nth-child(4) .bar span { width: 60%; }
.skills-colum:nth-child(2) .progress:nth-child(5) .bar span { width: 70%; }
.skills-colum:nth-child(2) .progress:nth-child(6) .bar span { width: 70%; }
  
.contact{
    align-items: center;
    min-height: auto;
    padding-bottom: 7rem;
    background: #031540;
    color: #fff;
}

.contact h2{
    text-align: center;
}

.contact input,
.contact textarea{
    color: white;
    caret-color: yellow;
}

.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    color: white;
    background: transparent;
    border-radius: 1rem;
    border: .2rem solid #00abf0;
}

.input-field,
.textarea-field{
    position: relative;
    color: #ffff;
}


.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    border-radius: 1rem;
    z-index: -1;
    transition: width .4s ease-in-out;

}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{
    width: 100%;
}

.footer{
    background: #026bb2;
    padding: 2rem 10%;
    text-align: center;
    color: white;
    border-top: .2rem solid #00abf0;
}

.footer-content h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.footer-content .contact-info{
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #00abf0;
}

.footer-content .copyright{
    font-size: .9rem;
    color: #ffffff80;
}

.footer-iconTop{
    position: fixed;       /* ⭐ important */
    bottom: 2rem;
    right: 2rem;
    z-index: 100;
    display: none;
    color: #00abf0;
}

html{
    scroll-behavior: smooth;
}


.footer-iconTop a{
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background: #00abf0;
    border: .1rem solid #00abf0;
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:Hover::before{
    width: 100%;

}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: #00abf0;
}

.home-sci a{
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp .6s ease forwards;
}

.home-sci a:nth-child(1){ animation-delay: 1.3s; }
.home-sci a:nth-child(2){ animation-delay: 1.5s; }
.home-sci a:nth-child(3){ animation-delay: 1.7s; }
.home-sci a:nth-child(4){ animation-delay: 1.9s; }

@keyframes fadeUp{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


/*Animation Reload and scroll*/
.animate{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #031540;   /* match section color */
    z-index: 1;
}


.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.animate.scroll{
    transition: 1s ease;
    transition-delay: calc(.1s / var(--i));
    background: #026bb2;
    animation: none;
}

.animate.Pop{
    transition: 1s ease;
    transition-delay: calc(.1s / var(--i));
    background: #031540;
    animation: none;
}

.education .education-box .animate.Pop{
    width: 105%;
    height: 105%;
}

.about.show-animate .animate.scroll,
.skills.show-animate .animate.scroll{
    transition-delay: calc(.1s * var(--i));
    width: 0;
}

.education.show-animate .animate.Pop,
.education.show-animate .education-box .animate.Pop{
    transition-delay: calc(.1s * var(--i));
    width: 0;
}

.home-content h1,
.home-content h3,
.home-content p,
.home-content .btn{
    position: relative;
    overflow: hidden;
    width: fit-content;
}

.reveal span{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#031540;
    animation: reveal 1.2s ease forwards;
}

.reveal-img span{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #031540;   /* green reveal */
    border-radius: 50%;
    animation: revealImage 1.5s ease forwards;
    animation-delay: 1.2s;
    transform: translateX(0);
}



@keyframes revealImage{
    100%{
        transform: translateX(100%);
    }
}



.home-content h1 span{
    animation-delay: .3s;
}

.home-content h3 span{
    animation-delay: .6s;
}

.home-content p span{
    animation-delay: .9s;
}

.home-content .btn span{
    animation-delay: 1.2s;
}




/* breakpoints */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header{
        padding: 2rem 4%;
    }

    section{
        padding: 10rem 4% 2rem;
    }

    .home{
        padding: 0 4%;
    }

    .footer{
        padding: 2rem 4%;
    }
}

@media (max-width: 768px){
    .header{
        background: #031540;
    }

    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: #031540;
        box-shadow: 0.5rem 1rem rgba(0,0,0, .2);
        transition: .25s ease;
        transition-delay: .25s;
        z-index: 1;
    }

    .navbar.active{
        transition-delay: 0s;
        left: 0;
    }

    .navbar .active-nav{
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #092464;
        border-top: .1rem solid rgba(0,0,0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav{
        transition-delay: .25s;
        left: 0;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }
    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }


}
@media (max-width: 768px){

    .home{
        flex-direction: column;
        text-align: center;
        height: auto;
        padding-top: 12rem;
        gap: 3rem;
        background: #031540;   /* remove split color for small */
    }

    .home-content{
        text-align: center;
    }

    .home-image{
        width: 250px;
        height: 250px;
        border-width: 15px;
        outline-width: 15px;
    }

    .home-content h1{
        font-size: 28px;
    }

    .home-content h3{
        justify-content: center;
        font-size: 18px;
    }
}

@media (max-width: 768px){

    .about{
        flex-direction: column;
        text-align: center;
    }

    .about-content{
        text-align: center;
    }

    .about-img{
        width: 200px;
        height: 200px;
    }
}


@media (max-width: 768px){
    .education-row{
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width: 768px){
    .contact form .input-box .input-field{
        width: 100%;
    }
}

@media (max-width: 768px){
    .skills-box .skills-content,
    .skills-content .progress h3,
    .skills-content .progress .bar{
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 768px){
    .navbar{
        text-align: center;
    }
      #menu-icon{
        display: block;
      }
      
}

@keyframes showRight{
    100%{
        width: 0;
    }
}

@keyframes reveal{
    100%{
        width: 0;
    }
}



